@page
@model VOSA_Events.Pages.CartModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<div id="shopping-cart-page">
    <h1 class="cart-title">Dina biljetter</h1>

    <table class="cart-table">
    <tbody>
        <div class="shopping-cart">
            @if (Model.Bookings.Any())
            {
                @foreach (var cartItemGroup in Model.Bookings.GroupBy(c => c.EventID))
                {
                <tr class="cart-item">
                    <td>@cartItemGroup.First().Event.Name</td>
                    <td>Pris: @cartItemGroup.First().Event.Price SEK</td>
                    <td>Kvantitet: @cartItemGroup.Sum(c => c.Quantity) st</td>
                </tr>
                }
            }
            else
            {
                <p>Ojdå, här var det tomt!</p>
            }
        </div>
    </tbody>
</table>

<div class="cart-total">
    <p><b>Din totala kostnad: </b>@Model.Bookings.Sum(b => b.Quantity * b.Event.Price) SEK</p>
    <p><b>Antal biljetter: </b>@Model.Bookings.Sum(b => b.Quantity) st</p>
    <div class="cart-buttons">
        <form class="place-order-form" asp-page="/Cart" method="post">
            <button type="submit" class="place-order-button">Lägg order</button>
        </form>

        <form class="clear-cart-form" method="post">
            <button type="submit" class="clear-cart-button" asp-page-handler="ClearCart">Töm varukorg</button>
        </form>

        <form class="return-to-start-form" asp-page="/Index" method="get">
            <button type="submit" class="return-to-start-button">Återgå till startsidan</button>
        </form>
    </div>
</div>
