@page
@model VOSA_Events.Pages.EventDetailsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event Details</title>
</head> 
<body>
	<h2><a asp-page="./Index">VOSA-EVENTS</a></h2>
	<main>
		<h2>Event Details</h2>
		<section>
				<h3>@Model.Event.Name</h3>
				<p>@Model.Event.Description</p>
				<p>Price: @Model.Event.Price$</p>

				<form method="post">
				<select name="quantity">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
					<input type="hidden" name="id" value="@Model.Event.ID">
					<button type="submit">Add to cart</button>
				</form>

			@* Vet inte hur vi ska implementera att man ser reviews ännu.
				<a asp-page="./EventDetails" class="event-link">
				<input type="button" name="review-id" class="event-id" />
				<button type="submit" class="review-button">See reviews</button>
			</a> *@

			<a method="post" asp-page="./Review" asp-page-handler="AddReview" asp-route-id="@Model.Event.ID>
				<input type="hidden" name="eventId" value="@Model.Event.ID"/>
				<button type="submit">Leave a review</button>
			</a>

			<button class="return-button">
					<a asp-page="./Index">Return to events</a>
				</button>
		</section>
	</main>
</body>
</html>
