@page
@model VOSA_Events.Pages.EventDetailsModel
@{
    ViewData["Title"] = "Event Details";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Details</title>
    <link rel="stylesheet" href="styles.css"> <!-- Anslut din CSS-fil här -->
</head>
<body>
    <main>
        <div id="eventDetails-container">
            <section class="event-details-section">
                <h3 class="event-title">@Model.Event.Name</h3>

                <hr></hr>

                <div id="eventContext">
                    <p class="event-description">@Model.Event.Description</p>
                    <p class="event-info">Pris: @Model.Event.Price SEK | Datum: @Model.Event.Date.ToString("yyyy-MM-dd HH:mm") | Plats: @Model.Event.City</p>
                </div>

                <div id="book-container">
                    <form class="order-form" asp-page-handler="Order" method="post">
                        <input type="hidden" name="id" value="@Model.Event.ID">
                        <select name="quantity" class="quantity-select" asp-for="Quantity">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                        </select>
                        <button type="submit" class="order-button">Boka biljett</button>
                    </form>
                </div>

                <hr></hr>

                <div id="event-buttons">
                    <form class="follow-form" asp-page-handler="Follow" method="post">
                        <input type="hidden" name="id" value="@Model.Event.ID">
                        <button type="submit" class="follow-button" @(Model.IsEventFollowed(Model.Event.ID) ? "disabled" : "")>Bevaka evenemanget</button>
                    </form>

                    <a class="review-link" asp-page="./Review" asp-route-eventId="@Model.Event.ID">
                        <input type="hidden" name="eventId" value="@Model.Event.ID" />
                        <button type="submit">Lämna en recension</button>
                    </a>

                    <a asp-page="./EventDetails" asp-page-handler="ShowReviews" asp-route-id="@Model.Event.ID"
                       asp-route-showReviews="@(Model.ShowReviews ? "false" : "true")">
                        <button type="button">@(Model.ShowReviews ? "Dölj" : "Visa") recensioner</button>
                    </a>

                    @if (Model.ShowReviews && Model.Reviews != null && Model.Reviews.Any())
                    {
                        <div class="show-review">
                            <h3>Recensioner</h3>
                            @foreach (var review in Model.Reviews)
                            {
                                <p>@review.Description</p>
                                <p>Betyg: @review.Rating</p>
                            }
                        </div>
                    }


                    <button class="return-button">
                        <a asp-page="./Index">Återgå till startsidan</a>
                    </button>
                </div>
            </section>
        </div>
    </main>
</body>
</html>
