@page
@model VOSA_Events.Pages.EventDetailsModel
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Event Details</title>
</head> 
<body>
	<h2><a asp-page="./Index">VOSA-EVENTS</a></h2>
	<main>
		<h2>Event Details</h2>
		<section>
				<h3>@Model.Event.Name</h3>
				<p>@Model.Event.Description</p>
				<p>Price: @Model.Event.Price SEK</p>
				<p>@Model.Event.Date.ToString("yyyy-MM-dd HH:mm")</p>
				<p>@Model.Event.City</p>

				<form method="post">
				<select name="quantity">
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>

				</form>

				<form asp-page-handler="Order" method="post">
					<input type="hidden" name="id" value="@Model.Event.ID">
					<button type="submit">Boka</button>
				</form>

				<form asp-page-handler="Follow" method="post">
					<input type="hidden" name="id" value="@Model.Event.ID">
				<button type="submit" @(Model.IsEventFollowed(Model.Event.ID) ? "disabled" : "")>Bevaka</button>
				</form>

			<a asp-page="./Review" asp-route-eventId="@Model.Event.ID">
				<input type="hidden" name="eventId" value="@Model.Event.ID" />
				<button type="submit">Lämna en recension</button>
			</a>
			
			<a asp-page="./EventDetails" asp-page-handler="ShowReviews" asp-route-id="@Model.Event.ID"
										asp-route-showReviews="@(Model.ShowReviews ? "false" : "true")">
				<button type="button">@(Model.ShowReviews ? "Dölj" : "Visa") recensioner</button>
			</a>

			@if (Model.ShowReviews && Model.Reviews != null && Model.Reviews.Any())
			{
				<div class="show-review">
					<h3>Recensioner</h3>
					@foreach (var review in Model.Reviews)
					{
						<p>@review.Description</p>
						<p>Betyg: @review.Rating</p>
					}
				</div>
			}

			<button class="return-button">
					<a asp-page="./Index">Return to events</a>
				</button>
		</section>
			
	</main>
</body>
</html>
